# Convert table to SQLite
Due to limitation of Heroku, we are unable to use MySQL nor Postgres as our dat size is larger than the upper limit of free tier. Thus we create this utility to convert tables into sqllite

In [2]:
from datetime import datetime, timezone
import math

import numpy as np
import pandas as pd

from os import path
from pathlib import Path

import sqlalchemy as sa
from sqlalchemy import create_engine, Column, Integer, String, Table, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

import pymysql
pymysql.install_as_MySQLdb()

from config import MYSQL_URL

source_engine = create_engine(MYSQL_URL, encoding='utf-8')
source_session = sessionmaker(source_engine)

target_engine = create_engine("sqlite:///db/kiva.sqlite")
target_session = sessionmaker(target_engine)


sqlite_conn = target_engine.connect()
mysql_conn = source_engine.connect()

metadata = MetaData()

In [3]:
tables = [
    'monthly_loan_lender_summary',
    'monthly_loan_summary',
    'country',
    'country_gdp'
]

In [10]:
def load_table(table, source_engine, target_engine):
    df = pd.read_sql_table(table, source_engine)
    df.to_sql(table, target_engine, if_exists='replace')

In [13]:
for table in tables:
    print(table)
    load_table(table, source_engine, target_engine)

monthly_loan_lender_summary
monthly_loan_summary
country
country_gdp