# Populate country and GDP
Pleae run kiva data population first.

This script take unique country code from Kiva data, load the country name and GDP for years after 2006 into country and country_gdp tables.

Instead of ORM, use SQL Expression Language to run queries. Also table reflection is been used. ORM is better suited to handle individual rows, and SQL Expression is better in run analytic queries and batch opertions. 


TODO: Logic: 

1) Get list of country_code from lenders
2) Get country code, name, lon/lat, and income_level from COUNTRY_URL
3) Get GDP for each year from wbdata API

In [2]:
import wbdata
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, Table, MetaData
from sqlalchemy.sql import select
import pymysql
import requests
import json

pymysql.install_as_MySQLdb()
from config import MYSQL_URL
engine = create_engine(MYSQL_URL, encoding='utf-8')
conn = engine.connect()

metadata = MetaData()

COUNTRY_URL = 'http://api.worldbank.org/v2/countries/?format=json'

In [4]:
# Table reflection
lender = Table('lender', metadata, autoload=True, autoload_with=engine)
country = Table('country', metadata, autoload=True, autoload_with=engine)
country_gdp = Table('country_gdp', metadata, autoload=True, autoload_with=engine)

In [8]:
r = requests.get(COUNTRY_URL)

In [9]:
r.status_code

200

In [10]:
r.json()

[{'page': 1, 'pages': 7, 'per_page': '50', 'total': 304},
 [{'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Oranjestad',
   'id': 'ABW',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'AW',
   'latitude': '12.5167',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '-70.0167',
   'name': 'Aruba',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'capitalCity': 'Kabul',
   'id': 'AFG',
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'iso2Code': 'AF',
   'latitude': '34.5228',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '69.1761',
   'name': 'Afghanistan',
   'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'AFR',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'A9',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Africa',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'capitalCity': 'Luanda',
   'id': 'AGO',
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'iso2Code': 'AO',
   'latitude': '-8.81155',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '13.242',
   'name': 'Angola',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}},
  {'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'capitalCity': 'Tirane',
   'id': 'ALB',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'AL',
   'latitude': '41.3317',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '19.8172',
   'name': 'Albania',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Andorra la Vella',
   'id': 'AND',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'AD',
   'latitude': '42.5075',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '1.5218',
   'name': 'Andorra',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'ANR',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'L5',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Andean Region',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'ARB',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': '1A',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Arab World',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Abu Dhabi',
   'id': 'ARE',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'AE',
   'latitude': '24.4764',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '54.3705',
   'name': 'United Arab Emirates',
   'region': {'id': 'MEA',
    'iso2code': 'ZQ',
    'value': 'Middle East & North Africa'}},
  {'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'capitalCity': 'Buenos Aires',
   'id': 'ARG',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'AR',
   'latitude': '-34.6118',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '-58.4173',
   'name': 'Argentina',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'capitalCity': 'Yerevan',
   'id': 'ARM',
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'iso2Code': 'AM',
   'latitude': '40.1596',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '44.509',
   'name': 'Armenia',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': 'EAP',
    'iso2code': '4E',
    'value': 'East Asia & Pacific (excluding high income)'},
   'capitalCity': 'Pago Pago',
   'id': 'ASM',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'AS',
   'latitude': '-14.2846',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '-170.691',
   'name': 'American Samoa',
   'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': "Saint John's",
   'id': 'ATG',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'AG',
   'latitude': '17.1175',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '-61.8456',
   'name': 'Antigua and Barbuda',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Canberra',
   'id': 'AUS',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'AU',
   'latitude': '-35.282',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '149.129',
   'name': 'Australia',
   'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Vienna',
   'id': 'AUT',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'AT',
   'latitude': '48.2201',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '16.3798',
   'name': 'Austria',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'capitalCity': 'Baku',
   'id': 'AZE',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'AZ',
   'latitude': '40.3834',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '49.8932',
   'name': 'Azerbaijan',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'capitalCity': 'Bujumbura',
   'id': 'BDI',
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'iso2Code': 'BI',
   'latitude': '-3.3784',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '29.3639',
   'name': 'Burundi',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'BEA',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'B4',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'East Asia & Pacific (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'BEC',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'B7',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Europe & Central Asia (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Brussels',
   'id': 'BEL',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'BE',
   'latitude': '50.8371',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '4.36761',
   'name': 'Belgium',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'capitalCity': 'Porto-Novo',
   'id': 'BEN',
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'iso2Code': 'BJ',
   'latitude': '6.4779',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '2.6323',
   'name': 'Benin',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}},
  {'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'capitalCity': 'Ouagadougou',
   'id': 'BFA',
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'iso2Code': 'BF',
   'latitude': '12.3605',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '-1.53395',
   'name': 'Burkina Faso',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}},
  {'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'capitalCity': 'Dhaka',
   'id': 'BGD',
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'iso2Code': 'BD',
   'latitude': '23.7055',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '90.4113',
   'name': 'Bangladesh',
   'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'}},
  {'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'capitalCity': 'Sofia',
   'id': 'BGR',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'BG',
   'latitude': '42.7105',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '23.3238',
   'name': 'Bulgaria',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'BHI',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'B1',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'IBRD countries classified as high income',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Manama',
   'id': 'BHR',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'BH',
   'latitude': '26.1921',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '50.5354',
   'name': 'Bahrain',
   'region': {'id': 'MEA',
    'iso2code': 'ZQ',
    'value': 'Middle East & North Africa'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Nassau',
   'id': 'BHS',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'BS',
   'latitude': '25.0661',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '-77.339',
   'name': 'Bahamas, The',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'capitalCity': 'Sarajevo',
   'id': 'BIH',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'BA',
   'latitude': '43.8607',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '18.4214',
   'name': 'Bosnia and Herzegovina',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'BLA',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'B2',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Latin America & the Caribbean (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'capitalCity': 'Minsk',
   'id': 'BLR',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'BY',
   'latitude': '53.9678',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '27.5766',
   'name': 'Belarus',
   'region': {'id': 'ECS',
    'iso2code': 'Z7',
    'value': 'Europe & Central Asia'}},
  {'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'capitalCity': 'Belmopan',
   'id': 'BLZ',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'BZ',
   'latitude': '17.2534',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '-88.7713',
   'name': 'Belize',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'BMN',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'B3',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Middle East & North Africa (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Hamilton',
   'id': 'BMU',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'BM',
   'latitude': '32.3293',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '-64.706',
   'name': 'Bermuda',
   'region': {'id': 'NAC', 'iso2code': 'XU', 'value': 'North America'}},
  {'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'capitalCity': 'La Paz',
   'id': 'BOL',
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'iso2Code': 'BO',
   'latitude': '-13.9908',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '-66.1936',
   'name': 'Bolivia',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'capitalCity': 'Brasilia',
   'id': 'BRA',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'BR',
   'latitude': '-15.7801',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '-47.9292',
   'name': 'Brazil',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Bridgetown',
   'id': 'BRB',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'BB',
   'latitude': '13.0935',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '-59.6105',
   'name': 'Barbados',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Bandar Seri Begawan',
   'id': 'BRN',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'BN',
   'latitude': '4.94199',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '114.946',
   'name': 'Brunei Darussalam',
   'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'BSS',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'B6',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Sub-Saharan Africa (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'capitalCity': 'Thimphu',
   'id': 'BTN',
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'iso2Code': 'BT',
   'latitude': '27.5768',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '89.6177',
   'name': 'Bhutan',
   'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'}},
  {'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'capitalCity': 'Gaborone',
   'id': 'BWA',
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'iso2Code': 'BW',
   'latitude': '-24.6544',
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'longitude': '25.9201',
   'name': 'Botswana',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'CAA',
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'iso2Code': 'C9',
   'latitude': '',
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'longitude': '',
   'name': 'Sub-Saharan Africa (IFC classification)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'}},
  {'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'capitalCity': 'Bangui',
   'id': 'CAF',
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'iso2Code': 'CF',
   'latitude': '5.63056',
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'longitude': '21.6407',
   'name': 'Central African Republic',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': 'Ottawa',
   'id': 'CAN',
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'iso2Code': 'CA',
   'latitude': '45.4215',
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'longitude': '-75.6919',
   'name': 'Canada',
   'region': {'id': 'NAC', 'iso2code': 'XU', 'value': 'North America'}},
  {'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'capitalCity': '',
   'id': 'CEA',

In [60]:
country_code_list = pd.read_sql(select([lender.c.country_code]).distinct(), engine)['country_code'].tolist()

In [64]:
type(country_code_list[1])

str

In [82]:
# Only load GDP data after 2006 as Kiva data started from year 2006
gdp_df = pd.DataFrame(columns=['country_code', 'year', 'gdp'])

In [95]:
for country_code in country_code_list:
    if country_code is None:
        continue
    try:
        for row in wbdata.get_data("NY.GDP.PCAP.CD", country=country_code):
            gdp_df = gdp_df.append({
                'country_code': country_code,
                'year': row['date'],
                'gdp': row['value']
            }, ignore_index=True)
    except Exception as e:
        print(e)

'NoneType' object is not iterable
'NoneType' object is not iterable
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
'NoneType' object is not iterable
list index out of range
list index out of range
list index out of range
'NoneType' object is not iterable

In [99]:
gdp_df.head()

  country_code  year               gdp
0           AD  2017              None
1           AD  2016  36988.6220301891
2           AD  2015  36038.2676044596
3           AD  2014  42294.9947269717
4           AD  2013  40619.7112977795

In [102]:
gdp_df = gdp_df.dropna()

In [103]:
conn.execute('truncate country_gdp')
gdp_df.to_sql('country_gdp', engine, if_exists='append', index=False)

In [104]:
gdp_df

      country_code  year               gdp
1               AD  2016  36988.6220301891
2               AD  2015  36038.2676044596
3               AD  2014  42294.9947269717
4               AD  2013  40619.7112977795
5               AD  2012  38391.0808669785
6               AD  2011  41098.7669417228
7               AD  2010  39736.3540626699
8               AD  2009  43339.3798746543
9               AD  2008  47785.6590856793
10              AD  2007  48582.8084550866
11              AD  2006  43748.7721588999
12              AD  2005  41282.0201219785
13              AD  2004  38503.4796144857
14              AD  2003  32776.4422698769
15              AD  2002  24741.4935704562
16              AD  2001  22228.8464928922
17              AD  2000  21936.5301014708
18              AD  1999  19261.7105038886
19              AD  1998  18894.5214963227
20              AD  1997  18353.0597218473
21              AD  1996  19017.1745902241
22              AD  1995  18461.0648581512
23              AD  1994  16234.8090102012
24              AD  1993  16516.4710272204
25              AD  1992  20547.7117897897
26              AD  1991  19532.5401504525
27              AD  1990  18878.5059692988
28              AD  1989   15166.437850754
29              AD  1988  14304.3569645785
30              AD  1987   12616.167565929
...            ...   ...               ...
11918           ZW  1989  836.787601968788
11919           ZW  1988  813.675382136047
11920           ZW  1987  725.385754420693
11921           ZW  1986  692.667302050254
11922           ZW  1985   651.03965800567
11923           ZW  1984   761.44538697549
11924           ZW  1983  967.175849712833
11925           ZW  1982  1105.95880146126
11926           ZW  1981   1077.9653495588
11927           ZW  1980  932.259610740781
11928           ZW  1979  747.994290494222
11929           ZW  1978  649.184297845411
11930           ZW  1977  671.247911954257
11931           ZW  1976  684.554000285338
11932           ZW  1975  714.805596390734
11933           ZW  1974  672.555266956632
11934           ZW  1973  577.846721624629
11935           ZW  1972  483.704903688198
11936           ZW  1971  407.145749687687
11937           ZW  1970  364.054360271566
11938           ZW  1969   348.93580495034
11939           ZW  1968    304.9821588723
11940           ZW  1967  297.231875211301
11941           ZW  1966  281.490800457589
11942           ZW  1965  297.363437403916
11943           ZW  1964  285.053173837193
11944           ZW  1963  280.566212958133
11945           ZW  1962  279.440988803624
11946           ZW  1961  283.315869044703
11947           ZW  1960  280.994585801398

[8917 rows x 3 columns]

In [79]:
wbdata.get_data("NY.GDP.PCAP.CD", country='US')

[{'country': {'id': 'US', 'value': 'United States'},
  'date': '2017',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': None},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2016',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '57638.1590879883'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2015',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '56469.0089691129'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2014',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '54706.8681977132'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2013',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '52787.0269489935'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2012',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '51450.1222950581'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2011',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '49790.6654782305'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2010',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '48373.8788155779'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2009',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '47001.5553496818'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2008',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '48401.4273403899'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2007',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '48061.5376613353'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2006',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '46437.0671173065'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2005',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '44307.9205848603'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2004',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '41921.8097617892'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2003',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '39677.1983481058'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2002',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '38166.0378407812'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2001',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '37273.6181034176'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '2000',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '36449.8551155349'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1999',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '34620.9288990826'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1998',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '32949.1977640346'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1997',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '31572.6902298492'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1996',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '30068.2309182833'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1995',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '28782.1750200918'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1994',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '27776.635528226'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1993',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '26464.852511744'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1992',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '25492.9516517617'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1991',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '24405.1648147489'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1990',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '23954.4793548671'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1989',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '22922.4370895271'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1988',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '21483.2330602579'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1987',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '20100.8588916542'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1986',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '19115.05290818'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1985',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '18269.4221684235'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1984',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '17134.2860171738'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1983',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '15561.4263961128'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1982',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '14438.9762759859'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1981',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '13993.166743657'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1980',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '12597.6675101771'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1979',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '11695.5544200307'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1978',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '10587.2857560033'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1977',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '9471.3061719314'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1976',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '8611.40183915427'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1975',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '7820.06547114686'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1974',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '7242.44110467889'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1973',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '6741.33236436395'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1972',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '6109.92586804894'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1971',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '5623.44397840712'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1970',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '5246.88371730098'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1969',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '5032.14474262003'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1968',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '4695.92339043178'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1967',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '4336.42658722171'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1966',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '4146.31664631665'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1965',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '3827.52710972039'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1964',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '3573.94118474743'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1963',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '3374.51517105082'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1962',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '3243.84307754988'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1961',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '3066.56286916615'},
 {'country': {'id': 'US', 'value': 'United States'},
  'date': '1960',
  'decimal': '1',
  'indicator': {'id': 'NY.GDP.PCAP.CD',
   'value': 'GDP per capita (current US$)'},
  'value': '3007.12344537862'}]

In [10]:
gdp_df = wbdata.get_dataframe({
    "NY.GDP.PCAP.CD": 'gdp',
    },
    country=['us']
).query('date >= "2006"')
gdp_df

               gdp
date
2017           NaN
2016  57638.159088
2015  56469.008969
2014  54706.868198
2013  52787.026949
2012  51450.122295
2011  49790.665478
2010  48373.878816
2009  47001.555350
2008  48401.427340
2007  48061.537661
2006  46437.067117